#click-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  /* Mencegah highlight biru pada mobile */
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
